* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #111130;
}

/* FILTRO */

main {
    display: flex;
    width: 100%;
    height: 785px;
}

main section.filtro-advogado {
    width: 340px;
    height: 100%;
    background-color: #0C0C24;
    opacity: 0.8;
}

main section.filtro-advogado form {
    padding: 20px 0;
}

main section.filtro-advogado form fieldset.filtro {
    color: #fff;
    border: none;
}

main section.filtro-advogado form fieldset.filtro legend{
    text-align: center;
    font-size: 32px;
    margin: 20px 0;     
}

main section.filtro-advogado form fieldset.filtro div.localizacao {
    display: block;
    padding: 0 50px;
}

main section.filtro-advogado form fieldset.filtro div.raioDistancia{
    display: inline-block;
    margin: 10px 0;
    padding: 0 50px;
}

main section.filtro-advogado form fieldset.filtro div.especialidade {
    display: block;
    padding: 0 50px;
}

main section.filtro-advogado form fieldset.filtro div.especialidade select{
    width: 250px;
}

main section.filtro-advogado form fieldset.filtro div.honorario{
    display: inline-block;
    margin: 10px 0;
    padding: 0 50px;
}

main section.filtro-advogado form fieldset.filtro div.consultaGratuita{
    display: inline-block;
    padding: 0 50px;
}

main section.filtro-advogado form fieldset.filtro div.enviar button{
    display: block;
    margin: 10px 50px;
}

input, select, button {
    border-radius: 5px;
    border: none;
}

input[type="search"] {
    width: 250px;
    height: 20px;
}

input[type="checkbox"] {
    margin: 0 10px;
}

button[type="submit"] {
    width: 250px;
    height: 20px;
    background-color: #3483FA;
}

label {
    font-size: 20px;
}

/* PERFIL USUARIO */

section.content {
    display: grid;
    width: 100%;
    margin: 30px 30px;
}

section.content div.perfilUsuario {
    position: relative;
    width: 500px;
    height: 300px;
    box-shadow: 0 10px 10px 0 black;  
    background-color: #001c1d;
}

section.content div.perfilUsuario div.capa {
    position: absolute;
    width: 100%;
    height: 150px;
    background-image: url("/public/img/capaPerfil1.jpeg");
    background-size: cover;
    box-shadow: 10px black;
}

section.content div.perfilUsuario div.foto {
    position: absolute;
    top: 80px;
    left: 30px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-image: url("/public/img/perfil1.png");
    background-size: cover;
}

section.content div.perfilUsuario div.informacoes {
    display: block;
    position: absolute;
    top: 165px;
    left: 200px;
}

section.content div.perfilUsuario div.informacoes p {
    font-size: 18px;
    margin: 5px 0;
    color: #fff;
}

section.content div.perfilUsuario div.informacoes a {
    padding-left: 220px;
    color: #3483FA;
    text-decoration: none;
    font-size: 18px;
}