*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box; /* Adicionado para lidar melhor com padding e margin */
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #0C0C24;
    height: 4rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: 
        "logo navs"
    ;
    text-align: end;
    
}
body{
    background-color: #111130;
    color: white;
}
img {
    height: 4rem;
    grid-area: logo;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: blue;
}
.navs{
    grid-area: navs;   
    padding-right: 1%;
}
.nav2{
    padding-top: 2% ;
}
main{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 25% 75%;
    grid-template-areas: 
        "campoDePesquisa areaDosPerfis"
    ;
    
}
.campoDePesquisa{
    grid-area: campoDePesquisa;
    text-align: left;
    background-color: #0C0C24;
    height: 35em;
    width: 100%;
    
}
input, select {
    background-color: #D9D9D9;
    border-radius: 1em;
    height: 1.5em;

}
label{
    padding-left: 2%;
}
.tituloFiltros{
    text-align: center;
    padding-top: 10%;
}
.divCampoLocalização{
    margin-left: 4%;
    width: 90%;
}
.labelLocalização{
    margin-left: 3%;
    
}
.divRadioDistancia{
    padding-left: 7%;
    padding-top: 5%;
}
.divEspecialidade{
    padding-left: 7%;
    padding-top: 5%;
}
.divHonorario{
    padding-left: 7%;
    padding-top: 5%;
}
.divConsultaGratuita{
    display: flex;
    padding-left: 7%;
    padding-top: 4%;
}
input[type="checkbox"]{
    margin-left: 6%;
}
.divBotaoEnviar{
    padding-left: 12%;
    padding-top: 10%;
}
button[type="submit"]{
    background-color: #3483FA;
    height: 2em;
    width: 15em;
    border-radius: 1em;
    cursor: pointer;
}
form {
    padding-top: 10%;
}
.sectionAreaDosPerfis{
    grid-area: areaDosPerfis;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}
.filtros{
    margin-top: 1.5em;
}
.retanguloDosPerfis1{
    display: grid;
    grid-template-columns: 40% 60%;
  /*  grid-template-rows: 45% 55%;*/
    grid-template-areas: 
        "fotoDeFundo fotoDeFundo"
        "circuloFotoPerfil informaçõesAdvogado"
    ;
    background-color: #001c1d;
    height: 80%;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    box-shadow: 0em 0.8em 1em 0em black;

}
.retanguloDosPerfis2{
    display: grid;
    grid-template-columns: 40% 60%;
  /*  grid-template-rows: 45% 55%;*/
    grid-template-areas: 
        "fotoDeFundo fotoDeFundo"
        "circuloFotoPerfil informaçõesAdvogado"
    ;
    background-color: #001c1d;
    height: 80%;
    width: 80%;
    margin-left: 8%;
    margin-top: 5%;
    box-shadow: 0em 0.8em 1em 0em black;

}
.circuloFotoPerfil{
    border-radius: 100%;
    border: 1px solid black;
    height: 7vw;
    width: 7vw;
    background-image: url('../img/perfil1.png');
    background-size: cover;
    background-position: center;
    grid-area: circuloFotoPerfil;
    z-index: 2;
    margin-left: 10%;
    margin-top: 17%;
}
.informaçõesAdvogado{
    display: inline-block;
    margin-bottom: 5%;
    grid-area: informaçõesAdvogado;
    text-align: left;
    
}
.fotoDeFundo{
    grid-area: fotoDeFundo;
    background-image: url('../img/capaFundoPerfilAdvogado.jpg');
    background-size: cover;
    background-position: center;
    z-index: 1;
    height: 8vw;
}