@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<hgroup class="title">
    <h1>Contato</h1>
</hgroup>

<article></article>

<aside>
    <h3>Teste</h3>
    <p> </p>
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>
</aside>