@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

<div id="body">
    @section featured {
        <section class="content-wrapper main-content clear-fix">
            <div class="container">
                    <div class="content-left">
                        <h2>Seja Bem Vindo!</h2>
                        <p>
                            Conheça agora a plataforma Direito Direto.
                            <br>
                            Aqui você pode encontrar o profissional ideal para te auxiliar em suas necessidades jurídicas.
                            <br>
                            Nossa missão é fornecer um serviço de busca eficiente e fácil de usar, conectando clientes a advogados qualificados e experientes.
                            <br>
                            <a href="~/Account/Register">Cadastre-se agora!</a>
                        </p>
                    </div>

                <div class="content-right">
                    <div class="image-text-container">
                        <div class="text-box">
                            <p class="center-text white-text"><strong>Deseja realizar uma busca?</strong></p>
                            <br />
                            <button class="center-text custom-button">Clique aqui</button>
                        </div>
                        <img src="~/Content/Imagens/DireitoDireto.png" alt="Imagem" class="image-right">
                    </div>
                </div>
            </div>
        </section>
        }
 </div>
