 <header>
        <img id="logo" src="../public/img/logo.png" alt="Logo">


        <div class="menu-container">
            <img id="hamburger" src="../public/img/menu.png" alt="menu">

            <div class="menu">
                <nav id="registroLogin">
                    <ul>
                        <a href="cadastro.php"><li>Registrar</li></a>
                        <span> | </span>
                        <a href="login.php"><li>Login</li></a>
                    </ul>
                </nav>
            
                <nav id="menu">
                    <ul>
                        <a href="../index.php"><li>Página Inicial</li></a>
                        <a href="contato.php"><li>Contato</li></a>
                        <a href="faq.php"><li>FAQ</li></a>
                    </ul>
                </nav>
                <div class="container">
                    
                    <nav id="menu-mobile">
                        <ul class="usuario">
                            <a href="cadastro.php"><li>Registrar</li></a>
                            <a href="login.php"><li>Entrar</li></a>
                        </ul>
                    
                        <ul class="navegar">
                            <a href="../index.php"><li>Página Inicial</li></a>
                            <a href="contato.php"><li>Contato</li></a>
                            <a href="faq.php"><li>FAQ</li></a>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>