body {
    padding: 0px;
    margin: 0px;
    background-color: #111130;
}
section{
    height: 40vh;
    background-color: #0C0C24;
    width: 40vw;
    margin-top: 20vh;
    margin-left: 30vw;
    color: white;
    display: grid;
    justify-content: center;
    grid-template-areas: 
        "titulo"
        "msg"
        "animações"
    ;
    text-align: center;
}
section h1{
    margin-top: 5%;
    grid-area: titulo;
    height: 35%;
    font-size: 5vh;
}
section h3{
    grid-area: msg;

}
section .wrapper{
    grid-area: animacao;
    width: 200px;
    height: 60px;
}
section .wrapper .circle{
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease; 
    right: 58%;
}
@keyframes circle {
    0% {
        margin-top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        margin-top: 0%
    }
}
section .wrapper .circle2{
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease; 
    right: 49%;
}
@keyframes circle2 {
    0% {
        margin-top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        margin-top: 0%
    }
}
section .wrapper .circle3{
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease; 
    right: 40%;
}
@keyframes circle3 {
    0% {
        margin-top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        margin-top: 0%
    }
}

/*
section .wrapper .circle:nth-child(2){
    margin-left: 45%;
    animation-delay: .2s;

}
section .wrapper .circle:nth-child(3){
    margin-left: auto;
    margin-right: 15%;
    animation-delay: .3s;
    
}
section .wrapper .shadow{
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 5);
    
    margin-top: 62px;
    transform-origin: 50%;
    z-index: -1;
    margin-left: 15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}
@keyframes shadow{
    0%{
        transform: scaleX(1.5);
    }
    40%{
        transform: scaleX(1);
    }
    100%{
        transform: scaleX(.2);
    }
}
section .wrapper .shadow:nth-child(4) {
    margin-left: 45%;
    animation-delay: .2s;
}
section .wrapper .shadow:nth-child(5) {
    margin-left: auto;
    margin-right: 15%;
    animation-delay: .3s;
}