* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.seçãoPerfilAdvogado{
    background-color: #0C0C24;
    height: 24em;
    width: 100%;
    
}
a{
    color: white;
    text-decoration: none;
}
section .capaFundo{
    width: 100%;
    height: 13em;
    z-index: 1;
    background-image: url('../img/capaFundoPerfilAdvogado.jpg');
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;
    display: grid;
    border: 1px solid black;
}
section div .fotoPerfil{
    width: 8%;
    height: 6em;
    border-radius: 100%;
    z-index: 2;
    background-image: url('../img/perfil1.png');
    background-size: cover;
    margin-left: 5%;
    margin-top: 12%;
    border: 1px solid black;
}
section .informacoesAdvogado{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2%;
    
}
section div .informacoesPessoais{
    display: grid;
    margin-left: 5%;
    justify-content: center;
}
section div .feedbackVisual{
    display: grid;
    justify-content: end;
    margin-right: 2%;
}
.seçãoResumoProfissional{
    height: 25em;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #111130; 
}
section .resumoProfissional {
    width: 40vw;
    height: 38vh;
    justify-self: center;
    margin-top: 7%;
    

}
section .bordaResumoProfissional{
    height: 60%;
    width: 80%;
    border: 1px solid white;
    display: grid;
    border-radius: 1em;
    margin-bottom: 15%;
}
section div .paragrafoResumoProfissional{
    margin-top: 2%;
}
.resumoProfissional h2 {
    margin-top: 7%;
    margin-left: 2%;
}
.seçãoResumoProfissional .servicosOferecidos{
    align-self: center;
    height: 39vh;
    justify-self: center;
    
}
.seçãoResumoProfissional .servicosOferecidos .bordaServicosOferecidos{
    height: 80%;
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
    display: grid;
    grid-template-areas: 
        "btn1"
        "btn2"
        "btn3"
    ;
    grid-auto-rows: 20%;
    row-gap: 10px;
}
.btn{
    border: 1px solid white;
    border-radius: 1em;
    text-align: center;
}
.botao1{
    grid-area: btn1;
}
.botao2{
    grid-area: btn2;
}
.botao3{
    grid-area: btn3;
}
.seçãoResumoProfissional .servicosOferecidos .bordaServicosOferecidos span{
    display: inline-block;
    margin-top: 6%;
}

.sectionAvaliacoes{
    background-color: #0C0C24;
    height: 75vh;
    width: 100%;
    display: grid;
    grid-template-areas: 
        "titulo"
        "cabecalhoPerfil"
        "texto"
    ;
    grid-template-rows: 25% 10%;
    
}
.sectionAvaliacoes h2{
    grid-area: titulo;
    justify-self: center;
    width: 20%;
    height: 20%;
    text-align: center;
    margin-top: 2%;
}
.cabecalhoPerfil{
    grid-area: cabecalhoPerfil;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-areas: 
        "foto nome"
    ;
    width: 100%;
    height: 50%;
    margin-left: 5%;
}
.sectionAvaliacoes .cabecalhoPerfil .fotoPerfilAvaliacao{
    background-image: url('../img/perfilAvaliações.jpg');
    height: 10vh;
    width: 8vw;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: foto;   
}
.sectionAvaliacoes .cabecalhoPerfil h4{
    grid-area: nome;
    height: 30%;
    width: 15%;
    margin-top: 1%;
}
.sectionAvaliacoes .caixaTexto{
    grid-area: texto;
    border: 1px solid white;
    width: 70%;
    justify-self: center;
    height: 80%;
    border-radius: 1em;
}