/* Cor principal */
.primary-color {
    color: #0C0C24;
}

/* Cor de fundo para separações */
.separation-color {
    background-color: #fff;
}

body {
    padding-top: 50px; /* Ajusta o espaçamento entre o cabeçalho e o topo da página */
    background-color: #111130;
}

header {
    position: fixed; /* Cabeçalho Fixado */
    width: 100%;
    top: 0;
    background-color: #0C0C24; /* Cor de fundo */
    z-index: 1000; /* Camada z-index */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra */
}

#body {
    padding-top: 100px; /* Espaçamento */
}

/* Estilos para o footer */
footer {
    background-color: #0C0C24; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 20px 0; /* Espaçamento interno */
    position: fixed;
    bottom: 0;
    width: 100%;
}

}

    /* Estilos para links no rodapé */
    footer a {
        color: #fff; /* Cor dos links */
    }

/* Estilos para o título do site */
.site-title a {
    color: #fff; /* Cor do título */
}

#login .lnk-botoes-superiores1 {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 5px;
}

    #login .lnk-botoes-superiores1:hover {
        color: lime; /* Verde limão ao passar o mouse */
    }

.lnk-botoes-superiores2 {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 5px;
}
    .lnk-botoes-superiores2:hover {
        color: lime; /* Verde limão ao passar o mouse */
    }

hr {
    border-top: 1px solid white;
    color: #fff;
}

/*--*/

.container {
    display: flex;
}

.content-left {
    margin-right: 50px;
    flex: 1; /* Ocupa todo o espaço disponível */
    color: white; /* Define a cor do texto como branco */
    font-size: 24px; /* Define o tamanho da fonte */
    text-align: left; /* Alinha todo o conteúdo à esquerda */
}

    .content-left p {
        text-align: left; /* Alinha o conteúdo à esquerda */
    }

    .content-left a {
        text-align: left; /* Alinha o conteúdo à esquerda */
    }

.content-right {
    margin-left: 50px;
    display: flex;
    justify-content: flex-end; /* Alinha os elementos à direita */
    align-items: center;
}

.image-right {
    margin-left: auto; /* Move a imagem para a direita */
}

.text-area {
    width: 150px; /* Ajuste o tamanho horizontal conforme necessário */
    height: 100px; /* Ajuste o tamanho vertical conforme necessário */
    border: none;
    resize: none;
}

.image-text-container {
    position: relative;
    display: flex;
    align-items: center;
}

.text-box {
    position: absolute;
    top: 50%; /* Centralizando verticalmente */
    right: 200px; /* Ajuste conforme necessário para posicionar a caixa de texto no local desejado */
    transform: translateY(-50%); /* Centralizando verticalmente */
    background-color: rgba(12, 12, 36, 0.3); /* Opacidade de 20% (ajuste conforme necessário) */
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.white-text {
    color: white; /* Definindo a cor do texto como branca */
}

.center-text {
    margin: 0; /* Para remover margens padrão */
}

.custom-button {
    border: none;
    border-radius: 10px; /* Bordas arredondadas */
    background-color: #3483FA; /* Azul celeste */
    color: white; /* Texto na cor branca */
    padding: 5px 20px; /* Adapte conforme necessário */
    cursor: pointer;
}

    .custom-button:hover {
        background-color: #87CEEB; /* Azul celeste mais claro ao passar o mouse */
    }
