@if (OAuthWebSecurity.RegisteredClientData.Count == 0) {
    <div class="message-info">
        <p>
            Não há serviços de autenticação externos configurados. Consulte <a href="https://go.microsoft.com/fwlink/?LinkId=226949">este artigo</a>
            para obter detalhes sobre como configurar este aplicativo ASP.NET para dar suporte ao registro em log por meio de serviços externos.
        </p>
    </div>
} else {
    <form method="post">
    @AntiForgery.GetHtml()
    <fieldset id="socialLoginList">
        <legend>Faça logon usando outro serviço</legend>
        <p>
            @foreach (var client in OAuthWebSecurity.RegisteredClientData) {
                <button type="submit" name="provider" value="@client.AuthenticationClient.ProviderName"
                        title="Logon usando sua conta @client.DisplayName">@client.DisplayName</button>
            }
        </p>
    </fieldset>
    </form>
}
