@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Conta bloqueada";
}

<hgroup class="title">
    <h1 class="error">@Page.Title.</h1>
    <h2 class="error">Sua conta foi bloqueada devido ao excesso de tentativas inválidas de fazer logon.</h2>
</hgroup>

<p>
    Não se preocupe, a conta será desbloqueada automaticamente em 60 segundos. 
    Tente novamente depois de decorrido esse tempo.
</p>